<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Change Password</h1> 
	
	<p th:if="${errorMessage}" style="color:red;">[[${errorMessage}]]
	
	<form th:action="@{/admin/changepassword}" method="post">
	Email: <input type="text" name="email" required>
	<br>
	New Password: <input type="password" name="newPassword" required>
	<br>
	Confirm Password: <input type="password" name="confirmPassword" required>
	<br>
	<button type="submit">Change Password</button>	
	</form>
	<a th:href="@{/admin/login}">Back to Login Page</a>
</body>
</html>