<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<h1>Products By Category</h1>	
	<!-- List of products -->	
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Category</th>				
			</tr>		
		</thead>
		<tbody>
			<tr th:each="product : ${products}">
				<td th:text="${product.id}"></td>
				<td th:text="${product.name}"></td>
				<td th:text="${product.category}"></td>
				
		</tbody>
	
	</table>
	<br>
	<a th:href="@{/admin/managecategories}">Back to Manage Categories</a>

</body>
</html>